<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>授课页面</title>
		<link rel="stylesheet" href="/css/app/class.css" />
		<link rel="stylesheet" href="/css/app/amazeui.css"/>
		<link rel="stylesheet" href="/css/app/jquery-ui.css" />

		<script src="/js/app/jquery.min.js"></script>
		<script src="/js/app/amazeui.js"></script>

		<script type="text/javascript" src="/js/app/jquery-ui.min.js" ></script>
		<script type="text/javascript" src="/js/app/fabric.min.js"></script>
		<script type="text/javascript" src="/js/app/drawtype.js" ></script>		
		<script type="text/javascript" src="/js/app/init.js" ></script>
		<script type="text/javascript">
			init('<%-user.username %>', '<%-user.role %>', '<%-room.roomId?room.roomId:null %>', '<%-room.answeringId?room.answeringId:null %>');
		</script>

		<script type="text/javascript" src="/js/app/socket.js" ></script>

		<script type="text/javascript" src="/js/app/canvas.js" ></script>
		<script type="text/javascript" src="/js/app/draw.js" ></script>
		<script type="text/javascript" src="/js/app/class.js" ></script>
		<script type="text/javascript"></script>
	</head>
	<body>

		<div class="toolsbar">
			<div class="tools">
				<ul>
					<li>
						<a  class="am-icon-btn am-icon-arrows-alt" type="move"></a>
					</li>
					<li>
						<a  class="am-icon-btn am-primary  am-icon-pencil" type="line"></a>
					</li>
					<li>
						<a  class="am-icon-btn am-icon-eraser" type="erase"></a>
					</li>
					<li class="am-dropdown" id="chart" data-am-dropdown="{justify: '#doc-dropdown-justify'}">
						<a  class="am-icon-btn am-icon-square-o am-dropdown-toggle" id = type="rectangle" style="z-index: 100000"   data-am-dropdown-toggle ></a>
						  <ul class="am-dropdown-content" >
						    <li type="rectangle"><a >矩形</a></li>
						    <li type="circle"><a >圆形</a></li>
						    <li type="triangle"><a >三角</a></li>
						    <li type="beeline"><a >直线</a></li>
						  </ul>
					</li>
					<li>
						<a  class="am-icon-btn am-icon-font" type="font"></a>
					</li>
					<li>
						<a  class="am-icon-btn am-icon-paperclip" type="attach"></a>
					</li>
				</ul>
			</div>
			<div class="line">
				<ul>
					<li>
						<p><span class="am-icon-circle line1 " type="1"></span></p>
					</li>
					<li class="line_active">
						<p><span class="am-icon-circle line2 line_color" type="2"></span></p>
					</li>
					<li>
						<p><span class="am-icon-circle line3" type="3"></span></p>
					</li>
					
				</ul>
			</div>
			
			<div class="color" id="stokecolor">
				<ul>
					<li class="line_active">
						<p><span class="am-icon-square color1" type="black"></span></p>
					</li>
					<li>
						<p><span class="am-icon-square color2" type="red"></span></p>
					</li>
					<li>
						<p><span class="am-icon-square color3" type="green"></span></p>
					</li>
					<li>
						<p><span class="am-icon-square color4" type="blue"></span></p>
					</li>
					<li>
						<p><span class="am-icon-square color5" type="white"></span></p>
					</li>
					
				</ul>
			</div>
			<div class="color" id="fillcolor">
				<ul>
					<li class="line_active">
						<p><span class="am-icon-square color1" type="black"></span></p>
					</li>
					<li>
						<p><span class="am-icon-square color2" type="red"></span></p>
					</li>
					<li>
						<p><span class="am-icon-square color3" type="green"></span></p>
					</li>
					<li>
						<p><span class="am-icon-square color4" type="blue"></span></p>
					</li>
					<li>
						<p><span class="am-icon-square color5" type="white"></span></p>
					</li>
					
				</ul>
			</div>
		</div>
		<div class="pageWrapper no_selection">
	       
	        <div class="canvasWrapper fn-clear">
	            <div id="canvas">
	            </div>
	        </div>
	    </div>
			
			<div id="teacher_vedio" class="am-panel am-panel-secondary no_selection">
			  <div class="am-panel-hd">教员视频</div>
			  <div class="am-panel-bd">
			    视频内容
			  </div>
			</div>

  			<div id="student_vedio" class="am-panel am-panel-secondary no_selection">
			  <div class="am-panel-hd ">学生视频</div>
			  <div class="am-panel-bd">
			    视频内容
			  </div>
			</div>

			
			<div id="teacher_block" class="am-panel am-panel-secondary no_selection">
			  <div class="am-panel-hd">图片列表</div>
			  <div class="am-panel-bd">
			    	<ul>
			    		<li draggable="true" data="file:///D:/work/yanan/public/images/camera2.png"><img src="/img/app/coursewareImg.png">1231</li>
			    		<li draggable="true" data="file:///D:/work/yanan/public/images/camera2.png"><img src="/img/app/coursewareImg.png">123123123123123</li>
			    	</ul>
			  </div>
		
			</div>
			
			<div id="log_block" class="am-panel am-panel-secondary no_selection">
			  <div class="am-panel-hd">LOG输出表</div>
			  <div class="am-panel-bd">
			    	<ul>
			    		<li>小弟弟已经链接进入房间</li>
			    		<li>小弟弟掉线了！</li>
			    	</ul>
			  </div>
		
			</div>

			<div class="page">
				
				<!-- <span class="am-badge am-radius ">2</span>
				<span class="am-badge am-radius">3</span> -->
				<span class="am-badge am-radius addCanvas">+</span>
			</div>
		
		<!-- //文字输入框 -->
		<div id="fillTxtdiv">
			<textarea id="fillTxt"></textarea><button class="textBtn" id="createText">确定</button><button id="cancelText" class="textBtn">取消</button>
		</div>
		<!-- //文字输入框 end -->
		<!--//图片上传-->
		<div id="answerBlockWrap" class="answerBlock fn-clear" style='display: none'>
		    <div class="answerBlockTips">可以上传jpg、png、gif格式的图片，可以上传pdf格式的文档。上传文件大小不得超过5M</div>
		    <input type="file" name="file" id="uploadify" />
		    <span class="answerBlockName">未选择文件</span>
		    <div class="progressWrap">
		        <div class="progress"></div>
		    </div>
		    <div class="uploadTips fn-left"></div>
		    <div class="uploadCloseBtn answerBlockBtn fn-right">关闭</div>
		</div>
		<!--//图片上传 end-->
	</body>
</html>
