<% include ../header.html %>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3 id="forms" class="page-header">个人中心：</h3>

				<% if (user.role=='teacher'){ %>
				<table class="table table-bordered">
					<tr>
						<th>身份：</th><td>老师</td>
					</tr>
					<tr>
						<th>操作：</th>
						<td>
							<a href="#" class="btn btn-primary" id="createRoom">创建房间</a>
							<a href="/answering/rooms" class="btn btn-default">房间列表</a>
							<a href="/answering/answerings" class="btn btn-default">答疑列表</a>							
						</td>
					</tr>
				</table>
				<% } else { %>
				<table class="table table-bordered">
					<tr>
						<th>身份：</th><td>学生</td>
					</tr>
					<tr>
						<th>操作：</th>
						<td>
							<a href="/answering/rooms" class="btn btn-default">房间列表</a>
							<a href="/answering/answerings" class="btn btn-default">答疑列表</a>							
						</td>
					</tr>
				</table>				
				<% } %>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
$(document).ready(function(){
	$('#createRoom').click(function(){
		$.ajax({
			url : '/api/answering/createRoom',
			type : 'POST',
			data : { type : 'answering' },
			success : function(data){
				if (data.code == 200){
					location.href = '/answering/room?id=' + data.data.roomId;
				} else {
					alert('create room failed!');
				}
			}	
		})
	});
});
</script>

<% include ../footer.html %>