<% include ../header.html %>

<style type="text/css">
  .question{
    position: relative;width:150px; height:150px; line-height:150px; border: 1px dashed #ddd; text-align: center; vertical-align: middle; margin-top:10px; padding: 5px; color:#ddd;
  }
  .question img{
    width: 140px;
  }
  .camera-container{
    position: relative;
    margin-top: 20px;
    color:#ddd;
  }
  .webCamera{
    width: 150px;height: 120px;border: 1px dashed #ddd;
  }

  #fillTxtdiv{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  #fillTxt{
      outline: none;
  }
  .log{
    margin-top: 20px;
    position: relative;
    border: 1px dashed #ddd;
    width:150px; height:200px; 
  }

  .pagewrite{position: absolute;
            z-index: 10;}
  .pagedown{position:absolute;
            z-index:8;}
  .pagepaper{position:absolute;
            z-index: 6;}
  .pageshape{position:absolute;
            z-index: 12;}
</style>

<div class="container">
  <h3 id="overview" class="page-header">答疑房间（教师端）<a class="btn btn-danger" href="http://localhost/api/answering/leaveRoom?id=<%-room.roomId %>" >
        <sapn>结束答疑</sapn>
      </a></h3>
  <div class="row" style="">
    <div class="col-xs-2">
        <div >
          <button type="button" class="btn btn-default" id="pencil"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default" id="eraser"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default" id="font"><span class="glyphicon glyphicon-font" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default" id="rectangle"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default" id="circle"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default" id="triangle"><span class="glyphicon glyphicon-eject" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default" id="line"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default" id="move"><span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span></button>
        </div>
        <select class="form-control" id="stroke">
          <option>红色</option>
          <option>绿色</option>
          <option>蓝色</option>
          <option>黑色</option>
          <option>透明</option>
        </select>
        <select class="form-control" id="fill">
          <option>红色</option>
          <option>绿色</option>
          <option>蓝色</option>
          <option>黑色</option>
          <option>透明</option>
        </select>
        <div class="question" id="question">
       
        </div>

      <div class="camera-container">
        <div class="webCamera">
          摄像头
        </div>
        <div class="webCamera">
          摄像头
        </div>        
      </div>

      <div class="log" id="log"></div>
    </div>
    
    <div style="border:1px solid #999;left: 0px; top: 0px; background: url(/img/sketch/bg.png);width:900px;height:600px;float:left;position:relative"  id = "canvas">
    <div id="fillTxtdiv" >
      <textarea id="fillTxt" class="form-control" row = "1"></textarea><button class="btn btn-default" row = "1" id="createText">确定</button><button id="cancelText" class="btn btn-default">取消</button>
    </div>
      <!-- <canvas height="800" width="800" id="canvas"></canvas> -->
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/info.js"></script>
<script type="text/javascript" src="/js/sketch/fabric.min.js"></script>
<script type="text/javascript" src="/js/sketch/socket.js"></script>
<script type="text/javascript" src="/js/sketch/canvas.js"></script>
<script type="text/javascript" src="/js/sketch/sketch.js"></script>

<script type="text/javascript">
	info.roomId = "<%-room && room.roomId ? room.roomId : ''%>";
  info.answeringId = "<%-room && room.answeringId ? room.answeringId : '' %>";
	info.username = "<%-user && user.username ? user.username : ''%>";
  info.role = "<%-user && user.role ? user.role : ''%>";

  function appendLog(msg) {
    $('#log').append('<span>' + msg + '</span>');
  }

	sketch.init('canvas',"active");
	// socket.init('121.40.174.3', 10001, 'echo-protocol');
  socket.init('172.16.3.243', 10001, 'echo-protocol');
	$('#pencil').on('click', function(){
	  sketch.setToolkit('pencil');
	});
	$('#eraser').on('click', function(){
	  sketch.setToolkit('eraser');
	})
  $('#font').on('click', function(){
    sketch.setToolkit('font');
  })
  $('#rectangle').on('click', function(){
    sketch.setToolkit('rectangle');
  })
  $('#circle').on('click', function(){
    sketch.setToolkit('circle');
  }) 
  $('#triangle').on('click', function(){
    sketch.setToolkit('triangle');
  }) 
  $('#line').on('click', function(){
    sketch.setToolkit('line');
  }) 
  $('#move').on('click', function(){
    sketch.setToolkit('move');
  }) 

  var dragEle = null;

  $('#question').on('dragstart','img',function(e){
      dragEle = e.target;

      sketch.ctn = e.target.src
  });

  $('#question img').on('dragend','img',function(e){
      dragEle = null;
      return false;
  });

  $("#canvas")[0].ondrop = function(e){
        
        if(dragEle){
            console.log("offsetX",e.offsetX)
            var img = new Image();
            img.src = sketch.ctn;
            sketch.tid = Date.now()
            img.onload = function(){
                var _img = new fabric.Image(img,{
                    id:sketch.tid,
                    radius:0,
                    left:e.offsetX,
                    top:e.offsetY,
                    scaleX:1,
                    scaleY:1,
                    originX :'center',
                    originY :'center',
                    selectable:false
                });
                sketch.fctx.add(_img);
                socket && socket.send({
                  c:'draw', 
                  data:{op:['im', [e.offsetX,e.offsetY,_img.get('currentWidth'),_img.get('currentHeight')],sketch.tid,sketch.ctn], t:sketch.tid}
                })
            }
            

        }
        return false
    }

    $('#canvas')[0].ondragover = function(ev) {
        /*拖拽元素在目标元素头上移动的时候*/
        ev.preventDefault();
        return true;
    };

    $('#canvas')[0].ondragenter = function(ev) {
        /*拖拽元素进入目标元素头上的时候*/
        return true;
    };

</script>
<% include ../footer.html %>