<% include ../header.html %>

<style type="text/css">
  .question{
    position: relative;width:150px; height:150px; line-height:150px; border: 1px dashed #ddd; text-align: center; vertical-align: middle; margin-top:10px; padding: 5px; color:#ddd;
  }
  .question img{
    width: 140px;
  }
  .camera-container{
    position: relative;
    margin-top: 20px;
    color:#ddd;
  }
  .webCamera{
    width: 150px;height: 120px;border: 1px dashed #ddd;

  }
  .log{
    margin-top: 20px;
    position: relative;
    border: 1px dashed #ddd;
    width:150px; height:200px; 
  }  
</style>

<div class="container">
  <h3 id="overview" class="page-header">答疑房间（学生端）
    <a class="btn btn-danger" href="http://localhost/api/answering/leaveRoom?id=<%-room.roomId %>" >
        <sapn>结束答疑</sapn>
      </a></h3>
  <div class="row" style="">
    <div class="col-xs-2">
      <div id="container">
        <a class="btn btn-success" id="pickfiles" href="#" >
          <i class="glyphicon glyphicon-plus"></i>
          <sapn>上传问题图片</sapn>
        </a>
      </div>
        <div class="question" id="question">
        提问图片
        </div>
      <div class="camera-container">
        <div class="webCamera">
          摄像头
        </div>
        <div class="webCamera">
          摄像头
        </div>        
      </div>

      <div class="log" id="log"></div>       
    </div>
    <div class="col-xs-10" style="border:1px solid #999;left: 0px; top: 0px; background: url(/img/sketch/bg.png);">
      <canvas height="800" width="800" id="canvas"></canvas>
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/info.js"></script>
<script type="text/javascript" src="/js/sketch/fabric.min.js"></script>
<script type="text/javascript" src="/js/sketch/socket.js"></script>
<script type="text/javascript" src="/js/sketch/canvas.js"></script>
<script type="text/javascript" src="/js/sketch/sketch.js"></script>
<script type="text/javascript">
  info.roomId = "<%-room && room.roomId ? room.roomId : ''%>";
  info.answeringId = "<%-room && room.answeringId ? room.answeringId : '' %>";
  info.username = "<%-user && user.username ? user.username : ''%>";
  info.role = "<%-user && user.role ? user.role : ''%>";

  function appendLog(msg) {
    $('#log').append('<span>' + msg + '</span>');
  }
	
	sketch.init('canvas', 'passive');
	socket.init('121.40.174.3', 10001, 'echo-protocol');
</script>
<input type="hidden" id="domain" value="http://qiniu-plupload.qiniudn.com/">
<input type="hidden" id="uptoken_url" value="http://localhost/api/common/upload/token">
<% include ../footer.html %>
<script type="text/javascript" src="/js/qiniu/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/js/qiniu/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/js/qiniu/qiniu.js"></script>
<script type="text/javascript" src="/js/qiniu/main.js"></script>