<% include ../header.html %>

<style type="text/css">
  
  #fillTxtdiv{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
  }

  #fillTxt{
      outline: none;
  }
  .log{
    margin-top: 20px;
    position: relative;
    border: 1px dashed #ddd;
    width:150px; height:200px; 
  }

  .pagewrite{position: absolute;
            z-index: 10;}
  .pagedown{position:absolute;
            z-index:8;}
  .pagepaper{position:absolute;
            z-index: 6;}
  .pageshape{position:absolute;
            z-index: 12;}

</style>
<link rel="stylesheet" href="/css/audio.css" />
<div class="container">
  <h3 id="overview" class="page-header">答疑回顾</h3>
  <div class="row" style="">
    <div class="col-xs-2">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>答疑时间</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>  
      </table>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>答疑图片</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>  
      </table>         
    </div>
    <div style="border:1px solid #999;left: 0px; top: 0px; background: url(/img/sketch/bg.png);width:900px;height:600px;float:left;position:relative"  id = "canvas">
    <div id="fillTxtdiv" >
      <textarea id="fillTxt" class="form-control" row = "1"></textarea><button class="btn btn-default" row = "1" id="createText">确定</button><button id="cancelText" class="btn btn-default">取消</button>
    </div>
      <!-- <canvas height="800" width="800" id="canvas"></canvas> -->
    </div>
  </div>

  <div class="sm2-bar-ui compact full-width">

 <div class="bd sm2-main-controls">

  <div class="sm2-inline-texture"></div>
  <div class="sm2-inline-gradient"></div>

  <div class="sm2-inline-element sm2-button-element">
   <div class="sm2-button-bd">
    <a href="#play" class="sm2-inline-button play-pause">Play / pause</a>
   </div>
  </div>

  <div class="sm2-inline-element sm2-inline-status">

   <div class="sm2-playlist">
    <div class="sm2-playlist-target">
     <!-- playlist <ul> + <li> markup will be injected here -->
     <!-- if you want default / non-JS content, you can put that here. -->
     <noscript><p>JavaScript is required.</p></noscript>
    </div>
   </div>

   <div class="sm2-progress">
    <div class="sm2-row">
    <div class="sm2-inline-time">0:00</div>
     <div class="sm2-progress-bd">
      <div class="sm2-progress-track">
       <div class="sm2-progress-bar"></div>
       <div class="sm2-progress-ball"><div class="icon-overlay"></div></div>
      </div>
     </div>
     <div class="sm2-inline-duration">0:00</div>
    </div>
   </div>

  </div>

  <div class="sm2-inline-element sm2-button-element sm2-volume">
   <div class="sm2-button-bd">
    <span class="sm2-inline-button sm2-volume-control volume-shade"></span>
    <a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
   </div>
  </div>

 </div>

 <div class="bd sm2-playlist-drawer sm2-element">

  <div class="sm2-inline-texture">
   <div class="sm2-box-shadow"></div>
  </div>

  <!-- playlist content is mirrored here -->

  <div class="sm2-playlist-wrapper">
    <ul class="sm2-playlist-bd">
     <li><a href="1.ogg"><b>Adrian Glynn</b> - Seven Or Eight Days</a></li>
    </ul>
  </div>

 </div>

</div>
</div>

<script type="text/javascript" src="/js/info.js"></script>
<script type="text/javascript" src="/js/sketch/fabric.min.js"></script>
<script type="text/javascript" src="/js/sketch/soundmanager2.js"></script>
<script type="text/javascript" src="/js/sketch/canvas.js"></script>
<script type="text/javascript" src="/js/sketch/sketch.js"></script>
<script type="text/javascript" src="/js/sketch/replay.js"></script>
<script type="text/javascript" src="/js/sketch/audio.js"></script>
<script type="text/javascript">
  info.roomId = "<%-room && room.roomId ? room.roomId : ''%>";
  info.answeringId = "<%-room && room.answeringId ? room.answeringId : '' %>";
	info.username = 'nengzhizhi', info.role = 'teacher';
	sketch.init('canvas','passive');
	replay.start();
  
</script>
<% include ../footer.html %>